@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "تأكيد عملية التسجيل";
}

<h1 style="font-family: Cairo;direction:rtl">@ViewData["Title"]</h1>
@{
//     if (@Model.DisplayConfirmAccountLink)
//     {
// <p style="font-family: Cairo;">
//  <a id="confirm-link" href="@Model.EmailConfirmationUrl">أضغط هنا للتأكيد عملية الأشتراك</a>
// </p>
//     }
//     else
//     {
<p style="font-family: Cairo;direction:rtl">
        الرجاء قراءة الصندوق الوارد
</p>
    }
}

